name: Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["Build and Push Docker Image"]
    types:
      - completed
    branches:
      - main



jobs:
  deploy:
    runs-on: nyetcooking-runners
    permissions:
      contents: read
    steps:
      - name: Set up kubectl
        uses: matootie/dokube@v1.4.0
        with:
          personalAccessToken: ${{ secrets.DO_TOKEN }}
          clusterName: ${{ vars.CLUSTER_NAME}}

      # Run any kubectl commands you want!
      - name: Roll Pods
        run: kubectl rollout restart ${{ vars.RESOURCE }} -n ${{ vars.NAMESPACE }} ${{ vars.RESOURCE_NAME }}